geopy==2.4.1
rapidfuzz==3.10.1
google_api_python_client==2.188.0
google-auth==2.38.0
lxml==5.4.0
natsort==8.4.0
pandas==2.2.3
protobuf==6.33.5
pyjanitor==0.30.0
python_dateutil==2.9.0.post0
selenium==4.27.1
gspread==6.1.4
